@charset "UTF-8";
nav {
  height: 90px !important;
  font-size: 25px !important;
  justify-content: center !important; }
  nav .logo {
    height: 40px !important;
    width: 40px !important; }

header {
  text-align: center;
  height: 10vh;
  width: 100vw;
  margin: 20px 0px; }

header img {
  width: 100%;
  height: 70vh;
  object-fit: cover; }

header div {
  height: 70vh;
  font-weight: 100;
  font-size: 20px;
  color: #FCF7ED;
  background-color: #b68c2b91;
  padding: 160px 20px;
  top: 110px;
  position: absolute;
  width: 100%;
  text-align: center; }
  header div h1 span {
    font-size: medium;
    font-style: italic; }
  header div .CTA {
    background-color: #B68C2B;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px;
    text-align: center;
    transition: 0.5s ease; }
  header div .CTA:hover {
    background-color: #ffffff;
    color: #B68C2B;
    border-style: solid;
    border-color: #B68C2B; }

main {
  width: 100%;
  height: 100%; }
  main .inicioFoto {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    top: 500px; }
    main .inicioFoto div h2 {
      text-align: center;
      width: 100%;
      margin-top: 3rem;
      padding: 20px;
      font-size: 30px; }
    main .inicioFoto .inicio {
      width: 100%;
      max-height: 500px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: flex-start;
      margin-top: 2rem;
      display: grid;
      grid-template-areas: "parrafo foto" "CTA foto"; }
  main .beneficios {
    background-color: #FCF7ED;
    width: 100%;
    height: 40vh !important;
    text-align: center; }
    main .beneficios h3 {
      top: 5rem; }

.parrafo {
  grid-area: parrafo; }

.carousel slide {
  grid-area: foto; }

.CTA {
  grid-area: CTA; }

.productos {
  margin: 30px 0px; }
  .productos h2 {
    display: inline-block;
    height: 50px;
    width: 20px;
    margin: 20px; }

.card img {
  height: 50vh;
  width: 19.9vw;
  margin: 0px; }

.paginaBlog .blog {
  width: 100%;
  height: 100%;
  margin: 20px 0px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas: "uno noticias" "dos noticias"; }
  .paginaBlog .blog .navegador {
    margin: 30px; }
  .paginaBlog .blog .blogPostUno {
    width: 55vw;
    padding: 25px;
    margin: 10px; }
    .paginaBlog .blog .blogPostUno .blogFoto {
      width: 700px;
      height: 410px;
      margin: 5px;
      object-fit: cover;
      left: 50%;
      justify-content: center;
      align-items: center; }
    .paginaBlog .blog .blogPostUno .blogTitulo {
      color: #B68C2B;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 600; }
    .paginaBlog .blog .blogPostUno .blogFecha {
      color: #5c5c5c;
      font-size: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif; }
    .paginaBlog .blog .blogPostUno .blogContenido {
      font-family: Georgia, 'Times New Roman', Times, serif; }
    .paginaBlog .blog .blogPostUno .leer {
      background-color: #F0DBD1;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      padding: 15px;
      transition: 0.5s ease; }
    .paginaBlog .blog .blogPostUno .leer:hover {
      background-color: #ffffff;
      color: #000000;
      border-style: solid;
      border-color: #FCF7ED; }
  .paginaBlog .blog .blogPostDos {
    width: 55vw;
    padding: 25px;
    margin: 10px; }
    .paginaBlog .blog .blogPostDos .blogFoto {
      width: 700px;
      height: 410px;
      margin: 5px;
      object-fit: cover;
      left: 50%;
      justify-content: center;
      align-items: center; }
    .paginaBlog .blog .blogPostDos .blogTitulo {
      color: #B68C2B;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 600; }
    .paginaBlog .blog .blogPostDos .blogFecha {
      color: #5c5c5c;
      font-size: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif; }
    .paginaBlog .blog .blogPostDos .blogContenido {
      font-family: Georgia, 'Times New Roman', Times, serif; }
    .paginaBlog .blog .blogPostDos .leer {
      background-color: #F0DBD1;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      padding: 15px;
      transition: 0.5s ease; }
    .paginaBlog .blog .blogPostDos .leer:hover {
      background-color: #ffffff;
      color: #000000;
      border-style: solid;
      border-color: #FCF7ED; }
  .paginaBlog .blog .noticias {
    height: 100%;
    width: 25vw;
    padding: 25px;
    margin: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000; }
    .paginaBlog .blog .noticias .anuncio {
      border-style: solid;
      border-width: 1px;
      border-color: #F0DBD1;
      margin: 15px 0px;
      padding: 15px; }
      .paginaBlog .blog .noticias .anuncio .botonAnuncio {
        text-decoration: none;
        font-size: 20px;
        color: #000000; }
      .paginaBlog .blog .noticias .anuncio .botonAnuncio:hover {
        color: #B68C2B;
        text-decoration: underline; }
      .paginaBlog .blog .noticias .anuncio .botonAnuncio::before {
        content: "♥ "; }

.blogPostUno {
  grid-area: uno; }

.blogPostDos {
  grid-area: dos; }

.noticias {
  grid-area: noticias; }

.about {
  text-align: center; }
  .about .mb-3 {
    display: inline-block; }
    .about .mb-3 img {
      width: 100%;
      object-fit: cover; }

.formulario {
  height: 40vh;
  width: 100vw;
  margin: 0px;
  background-color: #F0DBD1;
  padding: 40px;
  text-align: center; }
  .formulario div {
    padding: 5px; }

main .post {
  width: 100%;
  display: grid;
  grid-template-areas: "post noticias"; }
  main .post .postUno {
    width: 55vw;
    margin: 25px; }
    main .post .postUno .fotoPost, main .post .postUno .fotos .deco {
      padding: 10px; }
    main .post .postUno .blogFecha {
      color: #5c5c5c;
      margin: 5px;
      font-size: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif; }
    main .post .postUno .fotos {
      display: flex;
      width: 500px; }
      main .post .postUno .fotos .deco {
        width: 500px;
        height: 500px;
        object-fit: cover;
        justify-content: center;
        align-items: center; }
  main .post .noticias {
    height: 100%;
    width: 30vw;
    padding: 25px;
    margin: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000; }
    main .post .noticias .anuncio {
      border-style: solid;
      border-width: 1px;
      border-color: #F0DBD1;
      margin: 15px 0px;
      padding: 15px; }
      main .post .noticias .anuncio .botonAnuncio {
        text-decoration: none;
        font-size: 20px;
        color: #000000; }
      main .post .noticias .anuncio .botonAnuncio:hover {
        color: #B68C2B;
        text-decoration: underline; }
      main .post .noticias .anuncio .botonAnuncio::before {
        content: "♥ "; }

.post {
  grid-area: post; }

.noticias {
  grid-area: noticias; }

footer {
  width: 100%;
  height: 30vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 500px) {
    footer {
      display: block;
      text-align: center; } }
  footer div p {
    font-size: 10px; }
  footer .redes {
    order: 2; }
    @media screen and (max-width: 500px) {
      footer .redes {
        margin: 30px 0px; } }
    footer .redes i {
      size: 100px;
      text-decoration: none;
      margin: 20px; }

@media screen and (max-width: 1024px) {
  .blog {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-areas: "uno" "dos" "noticias"; } }
