$ancho: 100%; 
$texto: center;


// mixin para estilos de logos de redes sociales

@mixin size ($alto, $ancho, $espacio) {
    height: $alto;
    width: $ancho;
    margin: $espacio;
}


// estilos nav de bootstrap

nav {
    height: 90px !important;
    font-size: 25px !important;
    justify-content: center !important;
    .logo {
        height: 40px !important;
        width: 40px !important;
    }
}

// estilos h1

header {
    text-align: $texto;
    @include size (10vh, 100vw, 20px 0px)
}

// estilos index

header {
    img {
        width: $ancho;
        height: 70vh;
        object-fit: cover;
    }

    div {
        height: 70vh; 
        font-weight: 100;
        font-size: 20px;
        color: #FCF7ED;
        background-color: #b68c2b91;
        padding: 160px 20px;
        top: 110px;
        position: absolute;
        width: $ancho;
        text-align: center;

        h1 {
            span {
                font-size: medium;
                font-style: italic;
            }
        }

        .CTA {
            background-color: #B68C2B ;
            color: #ffffff;
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
            margin: 10px 0px;
            text-align: center;
            transition: 0.5s ease;
        }
        
        .CTA:hover {
            background-color: #ffffff;
            color:#B68C2B;
            border-style: solid;
            border-color: #B68C2B;
        }
    }
}

main {
    width: $ancho;
    height: 100%;
    .inicioFoto {
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        top: 500px;

        div {
            h2 {
                text-align: center;
                width: 100%;
                margin-top: 3rem;
                padding: 20px;
                font-size: 30px;
            }
        }

        .inicio {
            width: 100%;
            max-height: 500px;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: flex-start;
            margin-top: 2rem;
            display: grid;
    
            grid-template-areas: 
            "parrafo foto"
            "CTA foto";
        }
    }

    .beneficios {
        background-color: #FCF7ED;
        width: $ancho;
        height: 40vh !important;
        text-align: $texto;

        h3 {
            top: 5rem;
        }
    }

}

.parrafo {grid-area: parrafo;}
.carousel slide {grid-area: foto;}
.CTA {grid-area: CTA;}


// estilos productos shop

.productos {
    margin: 30px 0px;
    h2{
        display: inline-block;
        @include size (50px, 20px, 20px)
    }
}

.card {
    img {
        @include size (50vh, 19.9vw, 0px)
    }
}

// estilos blog

.paginaBlog {
    .blog {
        width: 100%;
        height: 100%;
        margin: 20px 0px;
        //display: flex;
        //justify-content: space-evenly;
        //align-items: center;
       display: grid;

        grid-column-gap: 10px;
    
        grid-template-areas: 
        "uno noticias"
        "dos noticias"; 

        .navegador {
            margin: 30px;
        }

        .blogPostUno{
            width: 55vw;
            padding: 25px;
            margin: 10px;
            .blogFoto {
                width: 700px;
                height: 410px;
                margin: 5px;
                object-fit: cover;
                left: 50%;
                justify-content: center;
                align-items: center;
            }
            .blogTitulo {
                color: #B68C2B;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 600;
            }
            
            .blogFecha {
                color: #5c5c5c;
                font-size: 15px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            
            .blogContenido {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            
            .leer {
                background-color: #F0DBD1;
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                padding: 15px;
                transition: 0.5s ease;
            }
            
            .leer:hover {
                background-color: #ffffff;
                color:#000000;
                border-style: solid;
                border-color: #FCF7ED;
            }
        }
        
        .blogPostDos {
            width: 55vw;
            padding: 25px;
            margin: 10px;
            .blogFoto {
                width: 700px;
                height: 410px;
                margin: 5px;
                object-fit: cover;
                left: 50%;
                justify-content: center;
                align-items: center;
            }
            .blogTitulo {
                color: #B68C2B;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 600;
            }
            
            .blogFecha {
                color: #5c5c5c;
                font-size: 15px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            
            .blogContenido {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            
            .leer {
                background-color: #F0DBD1;
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                padding: 15px;
                transition: 0.5s ease;
            }
            
            .leer:hover {
                background-color: #ffffff;
                color:#000000;
                border-style: solid;
                border-color: #FCF7ED;
            }
        }
        
        .noticias {
            height: 100%;
            width: 25vw;
            padding: 25px;
            margin: 20px;
            border-style: solid;
            border-width: 1.5px;
            border-color: #000000;
            .anuncio {
                border-style: solid;
                border-width: 1px;
                border-color: #F0DBD1;
                margin: 15px 0px;
                padding: 15px;
                .botonAnuncio {
                    text-decoration: none;
                    font-size: 20px;
                    color: #000000;
                }
                .botonAnuncio:hover {
                    color:#B68C2B;
                    text-decoration: underline;
                }
                
                .botonAnuncio::before {
                    content: "♥ ";
                }
            }
        }
    }
}

.blogPostUno {grid-area: uno;}
.blogPostDos {grid-area: dos;}
.noticias {grid-area: noticias;} 

// estilos pagina about

.about {
    text-align: center;
    .mb-3 {
        display: inline-block;
        img {
            width: $ancho;
            object-fit: cover;
        }
    }

    
}

.formulario {
    @include size(40vh, 100vw,0px);
    background-color: #F0DBD1;
    padding: 40px;
    text-align: center;
    div {
        padding: 5px;
    }
}

// estilos post uno

main {
    .post {
        width: $ancho;
        display: grid; 
        grid-template-areas: 
        "post noticias";

        .postUno {
            width: 55vw;
            margin: 25px;
            
            .fotoPost {
                padding: 10px;
            }
            .blogFecha {
                color: #5c5c5c;
                margin: 5px;
                font-size: 15px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .fotos {
                display: flex;
                width: 500px;
                .deco {
                    @extend .fotoPost;
                    width: 500px;
                    height: 500px;
                    object-fit: cover;
                    justify-content: center;
                    align-items: center;
                }
            }
                
        }

        .noticias {
            height: 100%;
            width: 30vw;
            padding: 25px;
            margin: 20px;
            border-style: solid;
            border-width: 1.5px;
            border-color: #000000;
            .anuncio {
                border-style: solid;
                border-width: 1px;
                border-color: #F0DBD1;
                margin: 15px 0px;
                padding: 15px;
                .botonAnuncio {
                    text-decoration: none;
                    font-size: 20px;
                    color: #000000;
                }
                .botonAnuncio:hover {
                    color:#B68C2B;
                    text-decoration: underline;
                }
                
                .botonAnuncio::before {
                    content: "♥ ";
                }
            }
        }
    }

}

.post {grid-area: post;}
.noticias {grid-area: noticias;}

// estilos footer

footer {
    width: $ancho;
    height: 30vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:500px) {
        display: block;
        text-align: center;       
     }

    div {
        p{
            font-size: 10px;
        }
    }

    .redes {
        order: 2;
        @media screen and (max-width:500px) {
            margin: 30px 0px;     
         }
        i {
            size: 100px;
            text-decoration: none;
            margin:20px;
        }
    }

}


@media screen and (max-width: 1024px) {
    .blog {
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        
        grid-template-areas: 
        "uno"
        "dos"
        "noticias";
       }
       
}